exp-customerportal/src/main/mule/customer/fetchCustomer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fetchCustomerFlow" doc:id="da0a04d8-30c6-496d-9bff-5a65965320bf" >
		<http:request method="GET" doc:name="Fetch Customer Details" doc:id="b110225a-1838-4734-9205-380c7c6edab7" config-ref="HTTP_Request_configuration_pro_customerPortal" path="/fetchCustomerDetails">
			<http:headers ><![CDATA[#[output application/java
---
{
	client_id:p('secure::pro_cp.client_id'),
	client_secret:p('secure::pro_cp.client_secret')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	customerId : attributes.queryParams.customerId
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
