exp-customerportal/src/main/mule/feedback/feedback.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="feedbackFlow" doc:id="4bd7c0ab-47a7-4a5e-8bbf-1c481bb658a1" >
		<ee:transform doc:name="Incoming Payload" doc:id="b3461f31-cc61-41e3-9e45-7a07b7967919" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="extraFields" ><![CDATA[%dw 2.0
output application/json
---
(keysOf(payload.feedback)) - "productTitle" as Key - "Display" as Key - "Camera" as Key - "Performance" as Key - "Overall" as Key - "description" as Key]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-true doc:name="Is true" doc:id="772bea9e-43d6-4094-8986-5bdf6e7f27f9" config-ref="Validation_Config" expression="#[sizeOf(vars.extraFields) == 0]" message="Extra fields are not allowed only productTitle,display,camera,performance,overall,description and orderId">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="ERR:FIELDS_NOT_ALLOW" />
		</validation:is-true>
		<http:request method="POST" doc:name="Add feedback to the database" doc:id="78a6e5bc-881f-4510-8e5a-6be46cb1c7da" config-ref="HTTP_Request_configuration_pro_customerPortal" path="/pro-feedback">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id":p('secure::pro_cp.client_id'),
	"client_secret":p('secure::pro_cp.client_secret')
}]]]></http:headers>
		</http:request>
	</flow>
</mule>
